body {
    background-color:#020611 ;
}

header{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-row: 10px;
    grid-column: auto;
    justify-content: center;
}

header logo{
    width: 120px;
    height: 120px;
    display: grid;
    float: left;
}
.contenedornombre{
    display: grid;
    justify-content: center;
    grid-template-rows: 40% 60%;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
h1 .contenedornombre{
    grid-row: 1;
}

p .contenedornombre{
    grid-row: 2;
}
header nav{
    background-color:#494cd1;
    height: 120px;
    width: 100%;
    justify-content: center;
    border-radius: 15%;
    justify-items: center;
}

.contenedor {
    display: grid;
    grid-gap: 15px;
}

.img {
    margin-top: 10px;
}

.pikmin {
    width: 120px;
    height: 120px;
    display: grid;
    justify-content: center;
    border-radius: 50%;
}

.pikmin2 {
    width: 120px;
    height: 120px;
    display: grid;
    justify-content: center;
    border-radius: 50%;
}

article {
    display: grid;
    grid-template-columns: auto 70vw auto;
    grid-template-rows: 1fr;
    height: 75vh;
    grid-gap: 15px;
    justify-items: center;
}
.contenedor-tienda{
    grid-column: 2;
    grid-row: 1;
    background-color:#343b57;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25vh 25vh 25vh;
    justify-items: center;
}
.contenedor-tienda p{
    color: #65ade8;
}
.articulo1{
    grid-column: 1;
    grid-row: 1;
}
.articulo2{
    grid-column: 1;
    grid-row: 2;
}
.articulo3{
    grid-column: 1;
    grid-row: 3;
}
.nada{
    grid-column: 1;
    grid-row: 1;
}
.nada2{
    grid-column: 3;
    grid-row: 1;
}

footer{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-row: 10px;
    grid-column: auto;
    justify-content: center;
}
